/* Header.css */

.header {
    background-color: #91bbe6;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .containerH {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo span {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  