.Style1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 20px;
    flex-direction: column;
    /* gap: 20px; */
    width: 100%;
    /* background-color: red; */
}

.Style1B{
    display: none;
}

.Style2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}