/* src/CSS/ViewAnnouncements.css */
.view-announcements-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.view-announcements-title {
    text-align: center;
    color: rgba(0, 0, 255, 0.6);
    margin-bottom: 20px;
    font-weight: bold;
}

.announcement {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.announcement-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:rgba(0, 0, 255, 0.7);
}

.announcement-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.announcement-content {
    font-size: 1.1em;
}
